<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @priority_condition.name %>
</p>

<%= link_to 'Edit', edit_priority_condition_path(@priority_condition) %> |
<%= link_to 'Back', priority_conditions_path %>
